@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}
body{
    background: #000;
    min-height: 200vh;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 40px 100px;
    z-index: 100000;
    background-color: #be4b4bad;
height: 20px;
   
}

header .Turkije{
    position: relative;
    font-weight: 700;
    color: #ffffff;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;




}
nav ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li{
    position: relative;
    list-style: none;
    margin-left: 20px;


}

nav ul li a{
    position: relative;
    margin: 0 15px;
    text-decoration: underline;
    color: #ffffff;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s ease;

}




section{
    background: url(afbldig/camii.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    height: calc(100vh);
    padding-top: 80px;
}
section div .col1{
    display: inline-block;
    color: white;
    width: 50%;
}

section div .col2{
    width: 50%;
    color: white;
}