/* _________________________________________________________________ -Layout */
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

header .Turkije{
    position: relative;
    font-weight: 700;
    color: #cac8c8;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: rgb(0, 0, 0);
    height: 50px;
    
}

header{
    text-align: center;
    background-color: rgba(22, 24, 24, 0.539);

}

body{
    background-color: rgba(255, 255, 255, 0.194);
}
div {
    display: inline-block;
}
div h1 a{
    color: white;
}
 /* ___________________________________________ Navigatie*/
header nav ul li{
    color: whitesmoke;
    display: inline-block;
    margin-right: 60px;
    margin-top: 30px;
    letter-spacing: 1px;
    font-weight: bold;
    margin-bottom: 25px;
    
}
header nav ul li a{
    text-transform: uppercase;
    text-decoration: none;
    color: rgba(241, 241, 241, 0.534);
    border-radius: 20px;
}
header nav ul li a:hover{
    background-color: rgba(255, 255, 255, 0.568);
    color: black;
}

/* ___________________________________________ Footer*/
footer{
    height: 350px;
    width: auto;
    padding-left: 20px;
    padding-top: 20px;
    background-color: #292929;
}

section.Footer1{
    width: 33%;
    margin-left: 20px;
    
}
p.Footer-Titel{
    color: rgba(255, 255, 255, 0.667);
    font-size: 20px;
    text-decoration: underline solid;
    padding-bottom: 35px;
}

div.Nav-Footer nav ul li a{
    color: rgba(255, 255, 255, 0.502);
    text-decoration: none;
    
}
div.Nav-Footer nav ul li {
    color: rgba(255, 255, 255, 0.37);
    padding-top: 10px;


}


p.Copyright{
    font-size: 12px;
    padding-top: 20px;
    color: rgba(255, 255, 255, 0.331);
    text-align: end;
}
p.Copyright:hover{
    color: white;
    background-color: rgba(255, 255, 255, 0.331);
    border-radius: 10px;
    text-align: end;
}

section.footer2{
    width: 33%;
    padding-left: 100px;
}

section.footer3{
    width: 33%;
    padding-left: 100px;
}
div.ftr{
    display: flex;
}
div.Foto-Footer{
    text-align: center;
    width: 100px;
}
div.Nav-Footer nav ul li a:hover{
    text-decoration: underline;
    background-color: #ff0c0c32;

}






/* ______________________________________________________________________ -Afbeelding + text */
.afbeelding {
    position: relative;
    width: 100%;

}
  
.afbeelding img {
    width: 100%;
    height: auto;
}
  
.afbeelding-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.292);
}
/*Heb een extratje geopend zodat text bij Cultuur beter zichtbaar is*/
.afbeelding-Ctext {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.600);
}
.afbeelding-Ctext h1:hover {
    border-radius: 30px;
    background-color: white;
    color: black;
}
.afbeelding-text h1:hover {
    border-radius: 30px;
    background-color: white;
    color: black;

}

  .TssTITEL{
    text-align: center;
    margin: 10px;
    padding-top: 50px;
}
  
  h1{
    
    text-align: center;
    padding: 20px;
}

h1{
    font-size: 24px;
    color: #fff;
}

h2{
    font-size: 20px;
    color: #000000bf;
    text-decoration: underline;
}

p{
    color: #fff;
    font-size: 12px;
    padding-right: 20px;
}

/* __________________________________Bezienswaardigheden*/
div.bzn{
    text-align: center;
    background-color: #fff;
    padding-top: 15px;
}
div.Tekst-Info{
    padding-bottom: 70px;
    display: inline-block;
}
div.Tekst-Foto{
    padding-top: 10px;
}
div.Tekst-Foto img{
    float: right;
    width: 500px;
    padding-left: 100px;
    border-radius: 30px;
    
}
div.Tekst-Info h1{
    color: black;
    font-size: 30px;
    text-align:left;
    padding-top: 100px;
    padding-left: 150px;
}
div.Tekst-Info p{
    color: black;
    padding-left: 20px ;
    margin-bottom: 100px;
    font-size: 20px;
}


/* ______________________________________________________________________ -Contact */
form {
    margin: 20px auto;
    margin-top: 70px;
    width: 500px;
    padding: 100px;
    height: 650px;
    border:#292929 solid;
    border-radius: 30px;
  }
  form h1.from{
    color: black;
  }
  
label {
    display: inline-block;
    font-size: 13px;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #555;
    margin-bottom: 5px;
    margin-top: 15px;
    cursor: pointer;

}
form hr{
    margin-top: 20px;
    width: 300px;
}
div.ondertekst{
    padding-top: 80px;
    padding-bottom: 10px;
}
div.ondertekst strong, p{
    color: #555;
}
  
input[type="text"], input[type="email"],
  textarea {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    background-color: white;
    color: black;
}
input:hover{
    background-color: #292929;
    color: white;
}
textarea:hover{
    background-color: #292929;
    color: white;
}
  
input[type="submit"] {
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    margin-top: 10px;
    margin-bottom: 15px;
    border-radius: 10px;
}
input[type="submit"]:hover{
    color: #333;
    background-color: #fff;
    border: #292929 solid;
}
  